repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true

      - id: mypy
        name: mypy
        entry: bash -c 'cd notify_api && mypy src/ --ignore-missing-imports'
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false