services:
  notify_db:
    profiles: [ "first", "app", "migration", "worker" ]
    container_name: notify_service.db
    hostname: notify_service.db
    image: postgres:17.6-alpine
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "5432"
    ports:
      - "127.0.0.1:${POSTGRES_PORT}:5432"
    volumes:
      - notify_service_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - notify_service.db_network

  notify_db_migration:
    profiles: [ "first","migration" ]
    container_name: notify_service.db_migration
    hostname: notify_service.db_migration
    build:
      context: .
      dockerfile: ./docker/notify/Dockerfile
    restart: on-failure
    depends_on:
      notify_db:
        condition: service_healthy
    volumes:
      - ./notify_api/src:/app
    env_file:
      - .env
    environment:
      - SERVICE_TYPE=migration
    networks:
      - notify_service.db_network

  notify_app:
    profiles: [ "first","app" ]
    container_name: notify_service.app
    hostname: notify_service.app
    build:
      context: .
      dockerfile: ./docker/notify/Dockerfile
    restart: unless-stopped
    expose:
      - "8000"
    ports:
      - "127.0.0.1:${GUNICORN_PORT}:8000"
    depends_on:
      notify_db:
        condition: service_healthy
      notify_redis:
        condition: service_healthy
    volumes:
      - ./notify_api/src:/app:cached
      - notify_service_static_data:/app/static
    env_file:
      - .env
    environment:
      - SERVICE_TYPE=app
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8000/health/ || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    networks:
      - notify_service.db_network
      - notify_service.redis_network
      - notify_service.app_network

  notify_redis:
    profiles: [ "first","app", "worker" ]
    container_name: notify_service.redis
    hostname: notify_service.redis
    image: redis:7-alpine
    restart: unless-stopped
    expose:
      - "6379"
    volumes:
      - notify_service_redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    networks:
      - notify_service.redis_network

  notify_celery_worker:
    profiles: [ "first","worker" ]
    container_name: notify_service.celery_worker
    hostname: notify_service.celery_worker
    build:
      context: .
      dockerfile: ./docker/notify/Dockerfile
    depends_on:
      notify_db:
        condition: service_healthy
      notify_redis:
        condition: service_healthy
    volumes:
      - ./notify_api/src:/app
    env_file:
      - .env
    environment:
      - SERVICE_TYPE=celery_worker
    restart: unless-stopped
    networks:
      - notify_service.db_network
      - notify_service.redis_network

  notify_celery_beat:
    profiles: [ "first","worker" ]
    container_name: notify_service.celery_beat
    hostname: notify_service.celery_beat
    build:
      context: .
      dockerfile: ./docker/notify/Dockerfile
    depends_on:
      notify_db:
        condition: service_healthy
      notify_redis:
        condition: service_healthy
    volumes:
      - ./notify_api/src:/app
    env_file:
      - .env
    environment:
      - SERVICE_TYPE=celery_beat
    restart: unless-stopped
    networks:
      - notify_service.db_network
      - notify_service.redis_network

  notify_flower:
    profiles: [ "first","monitoring" ]
    container_name: notify_service.flower
    hostname: notify_service.flower
    build:
      context: .
      dockerfile: ./docker/notify/Dockerfile
    expose:
      - "5555"
    ports:
      - "127.0.0.1:${CELERY_FLOWER_PORT}:5555"
    depends_on:
      notify_redis:
        condition: service_healthy
      notify_celery_worker:
        condition: service_started
    volumes:
      - ./notify_api/src:/app
    env_file:
      - .env
    environment:
      - SERVICE_TYPE=flower
    restart: unless-stopped
    networks:
      - notify_service.redis_network
      - notify_service.monitoring_network

  notify_nginx:
      profiles: [ "first","app" ]
      image: nginx:alpine
      container_name: notify_service.nginx
      hostname: notify_service.nginx
      restart: unless-stopped
      build:
        context: .
        dockerfile: ./docker/nginx/Dockerfile
      expose:
        - "80"
      ports:
        - "${NGINX_PORT}:80"
      depends_on:
        notify_app:
          condition: service_healthy
      env_file:
      - .env
      volumes:
        - notify_service_static_data:/app/static
      networks:
        - notify_service.app_network

networks:
  notify_service.db_network:
    name: notify_service.db_network
  notify_service.redis_network:
    name: notify_service.redis_network  
  notify_service.app_network:
    name: notify_service.app_network
  notify_service.monitoring_network:
    name: notify_service.monitoring_network

volumes:
  notify_service_postgres_data:
    name: notify_service_postgres_data
  notify_service_static_data:
    name: notify_service_static_data
  notify_service_redis_data:
    name: notify_service_redis_data
